{% extends  'index.html'   %}
{% block content %}
{% load static %}
    <!-- ======= Breadcrumbs ======= -->
    <section id="breadcrumbs" class="breadcrumbs">
      <div class="container" style="margin-top: 2.5%;
    margin-bottom: 1.5%;">

        <div class="d-flex justify-content-between align-items-center">
          <h2 style="word-spacing: 2.5px;letter-spacing: 3px;">About <span style="background: -webkit-linear-gradient(top, rgb(255, 240, 240), rgb(0, 98, 255));-webkit-background-clip: text;-webkit-text-fill-color: transparent;"> Wazir's FinTech.</span></h2>
          <ol>
            <li><a href="index.html">Home</a></li>
            <li>About</li>
          </ol>
        </div>

      </div>
    </section><!-- End Breadcrumbs -->

    <!-- ======= About Section ======= -->
    <section id="about" class="about">
      <div class="container" style="text-align:justify;">

        <div class="row content">
          <div class="col-lg-6">
<h3><span style="font-size:39px;">Welcome, Wazir's FinTech </span> <span style="font-size: 24px;word-spacing: 2px;line-height: 38px;">is a privately funded quantitative trading firm known for excellence in Algo Trading and financial markets' research.</span></h3>
<p style="margin-top: 3%;">Wazirs Trading Desk specializes in system-based trading strategies across various financial instruments. All the strategies are well-researched and back-tested on historical data to determine the viability and performance across various parameters and market phases.The execution is managed thru automated algos to have error-free order-flow. Most of the volume is done in Delta Neutral strategies along with some directional setups. Various data matrices are studied in real time and continuous improvements are made to improve the 
risk-reward and minimize the drawdowns.</p>
</div>
          <div class="col-lg-6 pt-4 pt-lg-0">
            <p style="font-weight: 500;margin-top: 0;margin-bottom: 6px;">
             Our Trading System Attributes and Risk Management
            </p>
            <ul>
              <li class="about-points"><i class="ri-check-double-line"></i> Current trading systems are focused on consistent returns with least possible 
drawdowns. </li>
              <li class="about-points"><i class="ri-check-double-line"></i> All accounts are monitored live by trading team.</li>
             <li class="about-points"><i class="ri-check-double-line"></i>No naked exposure. </li>
<li class="about-points"><i class="ri-check-double-line"></i> No leverage. </li>
<li class="about-points"><i class="ri-check-double-line"></i> Well-defined strategy and portfolio level SLs on daily/monthly TF.</li>
<li class="about-points"><i class="ri-check-double-line"></i> OTM hedges maintained to safeguard from Black Swans. </li>
<li class="about-points"><i class="ri-check-double-line"></i> Capital is kept in Liquid Bees/debt to boost returns. </li>
<li class="about-points"><i class="ri-check-double-line"></i> Continuous data collection for improvements.</li>
          </ul>
            <p class="fst-italic">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
              magna aliqua.
            </p>
          </div>
        </div>

      </div>
    </section><!-- End About Section -->


    <!-- ======= Our Skills Section ======= -->
{% endblock%}
<script src="{% static "ckeditor/config.js" %}"></script>
